* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  list-style: none !important;
  text-decoration: none !important;
  font-family: "amaranthBold";
}


#sidebar {
  background-color: rgb(161, 63, 24) !important;
  width: 100%;
}

h4, p {
  color: rgb(167, 162, 162) !important;
}

.navstyling .img-container{
  width: 100% !important;
  padding: 20px !important;
  justify-content: center;
  display: flex;
}

.container-one {
  padding: 10rem 0rem !important;
  padding-left: 3rem !important;
  padding-right: 5rem !important;
}

.exp-color {
  display: flex;
  justify-content: end;
  color: rgb(163, 60, 60);
}



h2 {
  color: rgb(63, 62, 62) !important;
}

@media only screen and (max-width : 600px) {
  .navstyling {
  display: none;
  }

  .nav-color {
    background-color: rgb(161, 63, 24) !important;
  }

  .img-container {
    width: 8em !important;
    margin: auto !important;
  }

  .img-container img{
    width: 100%;
    height: auto; 
    border-radius: 50%;
    border: 8px rgb(228, 130, 91) solid !important;
  }

  .navbar {
    padding: 0.5rem 1.5rem !important;
  }

  .navbar .nav-item .nav-link {
    padding: 0.8rem 1.3rem !important;
  }

  .navbar .navbar-brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: rgba(226, 122, 74, 0.965) !important;
  }

  .navbar .nav-item .nav-link:hover,
  .navbar .nav-item .nav-link:focus {
    color:#fff;
    background-color: rgba(78, 37, 17, 0.965) !important;
  }

  .get-rounded .rounded{
    height: 40px !important;
    width: 40px !important;
    background-color: gray;
    border-radius: 50% !important;
    display: inline-block !important;
    margin-right: 1.5rem !important;
  }

  .img-bkg {
    background: url(../images/slider-bg.jpg) no-repeat center center/cover;
  }

  .container-one {
    padding-bottom: 2.5rem !important;
    padding-top: 5rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.524);
  }

  .container-one p {
    text-align: justify;
  }

  .container-one h6 {
    padding-top: 1rem !important;
  }

  .container-2 {
    padding: 4rem 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: rgba(255, 235, 205, 0.36);
  }
  
  .container-2 h1{
    color: rgb(153, 93, 93);
    margin-bottom: 5rem !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem 0rem !important;
  }

  .experience {
    margin-bottom: 5rem !important;
  }

  .experience h2{
    color: rgb(110, 87, 87) !important;
    padding-bottom: 2rem !important;
  }

  .container-3 {
    padding: 4rem 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: rgba(161, 63, 24, 0.101) !important;
  }
  
  .container-3 h1{
    color: rgb(153, 93, 93);
    margin-bottom: 5rem !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem 0rem !important;
  }

  .experience ul li{
    color: rgb(167, 162, 162) !important;
    font-size: 0.9rem;
    padding: 0.2rem !important;
    text-align: left;
  }

  .margin {
    padding: 0rem 1rem !important;
  }

  .margin p{
    padding: 0rem 1rem !important;
    text-align: justify !important;
  }
}

@media only screen and (max-width : 767px) and (min-width : 601px) {

  #nav-show {
    display: none !important;
  }

  .img-show {
    display: none !important;
  }

  .navstyling {
  margin-top: 0rem !important;
  position: fixed !important;
  }

  .img-bkg {
    background: url(../images/slider-bg.jpg) no-repeat center center/cover;
  }
  
  #sidebar ul li {
    padding: 0.1rem !important;
    margin-left: 10% !important;
  }

  #sidebar ul li:hover{
    background-color: rgba(76, 27, 8, 0.346) !important;
    border-radius: 0.5rem;
  }
  #sidebar ul li a:hover{
    color: rgb(233, 233, 233) !important;
  }

  .get-rounded {
    text-align: center !important;
  }

  .get-rounded .rounded{
    height: 50px !important;
    width: 50px !important;
    background-color: gray;
    border-radius: 50% !important;
    display: inline-block !important;
    margin-right: 1.5rem !important;
  }
  

  .img-container img{
    width: 6.25em;
    height: auto;
    border-radius: 50%;
    border: 8px rgb(228, 130, 91) solid !important;
  }

  .container-one {
    padding: 2rem 0rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.524);
  }

  .container-one p{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: justify;
  }

  .margin {
    padding: 0rem 1rem !important;
  }

  .margin p{
    padding: 0rem 1rem !important;
    text-align: justify !important;
  }

  .container-2 {
    padding: 2.5rem 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .container-2 h1{
    color: rgb(63, 62, 62);
    margin-bottom: 5rem !important;
  }

  .container-3 {
    padding: 10rem 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .container-3 h1{
    color: rgb(63, 62, 62);
    margin-bottom: 5rem !important;
  }

  .experience {
    margin-bottom: 2rem !important;
  }

  .experience ul li{
    color: rgb(167, 162, 162) !important;
    font-size: 0.9rem;
    padding: 0.2rem !important;
    text-align: left;
  }

  ul {
    text-align: center;
    display: inline-block;
    overflow: hidden;
  }
  
  ul li {
    padding: 10px !important;
  }
  
  ul li a {
    color: rgb(228, 130, 91) !important;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width : 992px){
  .navstyling {
  margin-top: 5rem !important;
  position: fixed !important;
  }

  #nav-show {
    display: none !important;
  }

  .img-show {
    display: none !important;
  }

  .img-bkg {
    background: url(../images/slider-bg.jpg) no-repeat center center/cover;
  }

  .img-container img{
    width: 100px;
    height: auto; 
    border-radius: 50%;
    border: 8px rgb(228, 130, 91) solid !important;
  }

  .margin {
    padding: 0rem 1rem !important;
  }

  .margin p{
    padding: 0rem 1rem !important;
    text-align: justify !important;
  }

  .container-one {
    padding: 10rem 0rem !important;
    padding-left: 2rem !important;
    padding-right: 4rem !important;
    background-color: rgba(0, 0, 0, 0.524);
  }

  .get-rounded .rounded{
    height: 50px !important;
    width: 50px !important;
    background-color: gray;
    border-radius: 50% !important;
    display: inline-block !important;
    margin-right: 1.5rem !important;
  }

  .container-2 {
    padding: 5rem 0rem !important;
    padding-left: 3rem !important;
    padding-right: 5rem !important;
  }
  
  .container-2 h1{
    color: rgb(63, 62, 62);
    margin-bottom: 5rem !important;
  }

  .container-3 {
    padding: 10rem 0rem !important;
    padding-left: 3rem !important;
    padding-right: 5rem !important;
  }
  
  .container-3 h1{
    color: rgb(63, 62, 62);
    margin-bottom: 5rem !important;
  }

  .experience {
    margin-bottom: 2rem !important;
  }

  .experience ul li{
    color: rgb(167, 162, 162) !important;
    font-size: 0.9rem;
    padding: 0.2rem !important;
    text-align: left;
  }

  ul {
    text-align: center;
    display: inline-block;
    overflow: hidden;
  }
  
  ul li {
    padding: 10px !important;
  }
  
  ul li a {
    color: rgb(228, 130, 91) !important;
    font-size: 20px;
  }
}

@media only screen and (min-width: 993px) and (max-width : 1200px) {
  .navstyling {
  margin-top: 5rem !important;
  position: fixed !important;
  }

  #nav-show {
    display: none !important;
  }

  .img-show {
    display: none !important;
  }

  .container-one {
    padding: 10rem 0rem !important;
    padding-left: 2rem !important;
    padding-right: 4rem !important;
    background-color: rgba(0, 0, 0, 0.524);
  }

  .img-bkg {
    background: url(../images/slider-bg.jpg) no-repeat center center/cover;
  }


  .img-container img{
    width: 9em;
    height: auto; 
    border-radius: 50%;
    border: 8px rgb(228, 130, 91) solid !important;
  }

  .get-rounded .rounded{
    height: 50px !important;
    width: 50px !important;
    background-color: gray;
    border-radius: 50% !important;
    display: inline-block !important;
    margin-right: 1.5rem !important;
  }

  .container-2 {
    padding: 5rem 0rem !important;
    padding-left: 3rem !important;
    padding-right: 5rem !important;
  }
  
  .container-2 h1{
    color: rgb(63, 62, 62);
    margin-bottom: 5rem !important;
  }

  .container-3 {
    padding: 10rem 0rem !important;
    padding-left: 3rem !important;
    padding-right: 5rem !important;
  }
  
  .container-3 h1{
    color: rgb(63, 62, 62);
    margin-bottom: 5rem !important;
  }

  .experience {
    margin-bottom: 2rem !important;
  }

  .experience ul li{
    color: rgb(167, 162, 162) !important;
    font-size: 0.9rem;
    padding: 0.2rem !important;
    text-align: left;
  }

  ul {
    text-align: center;
    display: inline-block;
    overflow: hidden;
  }
  
  ul li {
    padding: 10px !important;
  }
  
  ul li a {
    color: rgb(228, 130, 91) !important;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1201px) {
  .navstyling {
  margin-top: 5rem !important;
  position: fixed !important;
  }

  #nav-show {
    display: none !important;
  }

  .img-show {
    display: none !important;
  }
  .img-bkg {
    background: url(../images/slider-bg.jpg) no-repeat center center/cover;
  }

  .container-one {
    padding: 10rem 0rem !important;
    padding-left: 2rem !important;
    padding-right: 4rem !important;
    background-color: rgba(0, 0, 0, 0.524);
  }


  .img-container img{
    width: 170px;
    height: auto; 
    border-radius: 50%;
    border: 8px rgb(228, 130, 91) solid !important;
  }

  .get-rounded .rounded{
    height: 50px !important;
    width: 50px !important;
    background-color: gray;
    border-radius: 50% !important;
    display: inline-block !important;
    margin-right: 1.5rem !important;
  }

  .container-2 {
    padding: 5rem 0rem !important;
    padding-left: 3rem !important;
    padding-right: 5rem !important;
  }
  
  .container-2 h1{
    color: rgb(63, 62, 62);
    margin-bottom: 5rem !important;
  }

  .container-3 {
    padding: 10rem 0rem !important;
    padding-left: 3rem !important;
    padding-right: 5rem !important;
  }
  
  .container-3 h1{
    color: rgb(63, 62, 62);
    margin-bottom: 5rem !important;
  }

  .experience {
    margin-bottom: 2rem !important;
  }

  .experience ul li{
    color: rgb(167, 162, 162) !important;
    font-size: 0.9rem;
    padding: 0.2rem !important;
    text-align: left;
  }

  ul {
    text-align: center;
    display: inline-block;
    overflow: hidden;
  }
  
  ul li {
    padding: 10px !important;
  }
  
  ul li a {
    color: rgb(228, 130, 91) !important;
    font-size: 20px;
  }
}




.container-one h2{
  font-size: 3.5rem !important;
  color: rgb(167, 162, 162) !important;
}
.container-one h6{
  color: rgb(167, 162, 162) !important;
}

.container-one .second-color {
  color: rgb(228, 130, 91);
}

.container-one p {
  font-family: Arial, Helvetica, sans-serif !important;
  color: rgb(167, 162, 162) !important;
  margin: 4rem 0 !important;
  font-size: 1.2rem;
}



